<form [formGroup]="form" class="dynamic-form-component">

  <div *ngFor="let prop of contactProps">
    <div [ngSwitch]="prop.type">

      <mat-form-field *ngSwitchCase="'text'">
        <input matInput placeholder="{{ prop.label }}" [type]="prop.type" [formControlName]="prop.key">
        <mat-error *ngIf="isInValid(prop.key)">{{getErrorMessage(prop.key)}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'number'">
        <input matInput placeholder="{{ prop.label }}" [type]="prop.type" [formControlName]="prop.key">
        <mat-error *ngIf="isInValid(prop.key)">{{getErrorMessage(prop.key)}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'email'">
        <input matInput placeholder="{{ prop.label }}" [type]="prop.type" [formControlName]="prop.key">
        <mat-error *ngIf="isInValid(prop.key)">{{getErrorMessage(prop.key)}}</mat-error>
      </mat-form-field>

      <div *ngSwitchCase="'radio'" class="radio-group">
        <label class="mat-input">{{ prop.label }} : </label>
        <mat-radio-group [formControlName]="prop.key">
          <mat-radio-button *ngFor="let option of prop.options" [value]="option.value">{{ option.label }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field *ngSwitchCase="'select'">
        <mat-select placeholder="{{ prop.label }}" [formControlName]="prop.key">
          <mat-option *ngFor="let option of prop.options" [value]="option.value"> {{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <a mat-raised-button routerLink="." color="primary">Save</a>

</form>
<pre>{{ form.value | json }}</pre>